body{
    background-color: var(--dark-color);
    text-align: center;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.content-payment a{
    color: var(--green-color);
}