/*VARIABLEs
Todo dentro de root sera accesible en las demas clases*/

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

:root{
    --green-color:#7ACC2D;
    --white-color:white;
    --black-color:black;
    --dark-color:#313337;
    --white-light-color:#EEEEEE;
    /*Espaciado*/
    --space:10px;

    /*Tipografía*/
    --normal-font:12px;
    --bold-font:17px;
    --title-font:30px;

    /*Box shadow*/
    --box:  0 0 1px #c1bcbd;  /* x y size*/
}



html,body{
    padding: 0;
    margin: 0;
    font-size: var(--normal-font);
    font-family: 'Open Sans', sans-serif;
}

label{
    font-size: var(--normal-font);

}

nav {
    display: flex;
    background-color: var(--green-color);
    padding: var(--space);
    color: var(--white-color);
    justify-content: space-between;
    align-items: center;
}

nav ul{
    display: flex;
}

nav li{
    padding-left: 20px;
    list-style: none;
}

nav li a {
    color: var(--black-color);
    text-decoration: none;
    font-size:1.2em;
}

nav li a:hover{
    color: var(--white-color);
}


/***   MAIN SECTION ******/

.main-section{
    padding: 10%;
    text-align: center;
}

.products{
    background-image: url("../img/curve.png");
    max-height: 50px;
    background-size:cover;
    background-position: center top;
    display: flex;
    justify-content:center; 
    padding: 20%;
}

.product{
    padding: 10px;
    margin-top: -340px;
}
.product .content{
    background-color: var(--white-color);
    padding: 15px;
    box-shadow: var(--box);
}

.img-content{
    text-align: center;
}

.main-button{
    background-color: var(--green-color);
    width: 100%;
    padding: var(--space);
    font-size: 17px;
    color: var(--white-color);
    border:0;
    cursor: pointer;
    border-radius: 2px;
}

.main-button:hover{
    background-color: rgb(81, 136, 30);
}

#characteristics{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 100px;
} 

#characteristics img{
    max-width: 200px;
    padding-bottom: 20px; 
}

.charac{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0 100px;  
}

.mentions-title{
    font-size: var(--bold-font);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    padding-top:0; 
}

#mentions{
    display: flex;
    justify-content: center;
    align-items: center;    
    padding-bottom: 50px;
}

.mention{
    width: 300px;
    display: flex;
    flex-direction: column;
    box-shadow: var(--box);
    margin: 0 5px;
    box-sizing: border-box;
}

.mention-img-content{
    margin: 0;
    height: 150px;
    width: 300px;
}

.mention-img-content img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.mention-name,
.mention-desc{
    padding: 5px;
}

.mention-name h3{
    margin: 0;
}

/************* Payment*/

.module-pay{
    background-color: var(--white-light-color);
    box-shadow: var(--box);
    padding: var(--space);
}

.module-pay-img{
    max-width: 150px;
    text-align: center;
    margin:auto; 
}

.data_form{
    margin-bottom:5px;
    width: 100%;
    height: 35px;
    border-radius: 2px;
    border:1px solid black;
    box-sizing: border-box;
}

.module-pay .main-button{
    margin-top: 10px;
}

/************* Payment*/


/* ------------------------------------------- Footer */
footer{
    display: flex;
    justify-content: space-between;
    font-size: var(--normal);
    background-color: var(--black-color);
    padding: var(--space);
    color: var(--white-color);
  }

.option a{
    color: var(--green-color);
}